<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>La autora de esta práctica es:</h1>
    <p>Cecilia Rodrigo Blay</p>
    <img src="/images/Yo.jpg" width="240"/>
  </body>
</html>